<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-title">Istanze assegnate</h5>
      <div class="card-body">
        <eaf-table
          *ngIf="data"
          [data]="data"
          [totalPages]="1"
          [structure]="table"
          [showPageSize]="true"
          [pageSizeSelected]="5"
          tableTitle="Elenco Commissari"
          description="La tabella riporta l'elenco dei commissari"
        ></eaf-table>
        <a href="#" class="btn btn-primary">Entra</a>
      </div>
    </div>
  </div>
</div>
<div class="row my-3">
  <div class="col">
    <div class="card">
      <h5 class="card-title">Pianificazioni assegnate</h5>
      <div class="card-body">
        <eaf-table
          *ngIf="data"
          [data]="data"
          [totalPages]="1"
          [structure]="table"
          [showPageSize]="true"
          [pageSizeSelected]="5"
          tableTitle="Elenco Commissari"
          description="La tabella riporta l'elenco dei commissari"
        ></eaf-table>
        <a href="#" class="btn btn-primary">Entra</a>
      </div>
    </div>
  </div>
</div>
