<!-- prettier-ignore -->
<markdown ngPreserveWhitespaces>
	# Checkbox multi
	This element is used in a form as multi checkbox.

	-------------------------------------------------------------------------
	| [Input] / (Output) | Type | Description |
	|----------------------|-------|----------------------------------------|
	| [label] | i18n Key | this will be used for the label (and also as base for the id of the internal input). |
	| [ext-id] | string without internal spaces | For the cases where label itsn't unique you have to define this input to guarantee the uniqueness of the internal input id. |
	| [formControl] | FormControl | Angular Form control to map with this input. |
	| [options] | RadioOption | Option list for the input. |
	| [size] | BoostrapSize | Size of form group. String with format 'xs\|sm\|md\|lg' like '12\|12\|6\|3'. Default '12\|12\|6\|4\'. |
	| [size-label] | BoostrapSize | Size of label. String with format 'xs\|sm\|md\|lg' like '12\|12\|6\|3'. Default '12\|12\|12\|12\'. |
	| [size-input] | BoostrapSize | Size of input. String with format 'xs\|sm\|md\|lg' like '12\|12\|6\|3'. Default '12\|12\|12\|12\'. |
	| [size-messages] | BoostrapSize | Size of message container. String with format 'xs\|sm\|md\|lg' like '12\|12\|6\|3'. Default '12\|12\|12\|12\'. |
	| [error-labels] | ErrorLabel[] | This is used to display errors linked with this form element. |
	| [tooltip] | TooltipModel | Shows a tooltip that explains the input. |
	| [readonly-input] | boolean | If true the input is readonly. Note: in this case the placeholder is hidden. |
	| [disable-input] | boolean | If true the input is disabled. Note: in this case the placeholder is hidden. |
	| [actions] | ActionItem[] | Actions displayed on the right of input. |
	| [warning] | string | A warning message that will always display bottom the input. |
	| [line] | boolean | Whether the input should appear on a single line. |

</markdown>
<!--
	*************************
	REQUIRED
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Simple multi checkbox</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Simple multi checkbox label"
  size="12|12|12|12"
  ext-id="unique-id-required"
  [formControl]="form.getFormControl("required")"
  [error-labels]="errorLabels["required"]"
  [options]="options"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    label="Simple multi checkbox label"
    size="12|12|12|12"
    ext-id="unique-id-required"
    [formControl]="form.getFormControl('required')"
    [error-labels]="errorLabels['required']"
    [options]="options"
  ></eaf-input-multicheckbox>
  {{ form.getFormControl('required').value | json }}
</eaf-play-section>

<!--
	*************************
	WARNING
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Simple multi checkbox with warning</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Multi checkbox with warning label"
  size="12|12|12|12"
  [formControl]="form.getFormControl("warning")"
  warning="Consider this a warning."
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    label="Multi checkbox with warning label"
    size="12|12|12|12"
    [formControl]="form.getFormControl('warning')"
    [options]="options"
    warning="Consider this a warning."
  ></eaf-input-multicheckbox>
  {{ form.getFormControl('warning').value | json }}
</eaf-play-section>

<!--
	*************************
	DISABLED
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Disabled multi checkbox</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Disabled multi checkbox label"
  size="12|12|12|12"
  [formControl]="form.getFormControl("disabled")"
  [options]="options"
  [disable-input]="true"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    [disable-input]="true"
    [formControl]="this.form.getFormControl('disabled')"
    label="Disabled multi checkbox label"
    size="12|12|12|12"
    [options]="options"
  ></eaf-input-multicheckbox>
</eaf-play-section>

<!--
	*************************
	READONLY
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Readonly multi checkbox</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Readonly multi checkbox label"
  size="12|12|12|12"
  #value
  [formControl]="form.getFormControl("readonly")"
  [options]="options"
  [readonly-input]="true"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    [readonly-input]="true"
    [formControl]="form.getFormControl('readonly')"
    [options]="options"
    label="Readonly multi checkbox label"
    size="12|12|12|12"
  ></eaf-input-multicheckbox>
</eaf-play-section>

<!--
	*************************
	RADIO INLINE
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">One line multi checkbox</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="One line multi checkbox label"
  size="12|12|12|12"
  [formControl]="form.getFormControl("oneLiner")"
  [options]="options"
  [line]="true"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    label="One line multi checkbox label"
    size="12|12|12|12"
    [line]="true"
    [formControl]="form.getFormControl('oneLiner')"
    [options]="options"
  ></eaf-input-multicheckbox>
</eaf-play-section>

<!--
	*************************
	MULTI CHECKBOX  WITH TOOLTIP
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Multi checkbox with main tooltip</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Multi checkbox with main tooltip label"
  size="12|12|12|12"
  [formControl]="form.getFormControl("tooltip")"
  [options]="options"
  [tooltip]="tooltip"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    label="Multi checkbox with main tooltip label"
    size="12|12|12|12"
    [tooltip]="tooltip"
    [formControl]="form.getFormControl('tooltip')"
    [options]="options"
  ></eaf-input-multicheckbox>
</eaf-play-section>

<!--
	*************************
	MULTI CHECKBOX  WITH OPTION TOOLTIP
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Multi checkbox with option tooltip</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Multi checkbox with option tooltip label"
  size="12|12|12|12"
  [formControl]="form.getFormControl("tooltip")"
  [options]="optionsWithTooltip"
  [line]="true"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    label="Multi checkbox with option tooltip label"
    size="12|12|12|12"
    [formControl]="form.getFormControl('tooltip')"
    [options]="optionsWithTooltip"
    [line]="true"
  ></eaf-input-multicheckbox>
</eaf-play-section>

<!--
	*************************
	MULTI CHECKBOX  WITH ACTIONS
	*************************
-->
<!-- prettier-ignore -->
<div class="h3">Multi checkbox with actions</div>
<eaf-play-section
  md='
	```html
  <eaf-input-multicheckbox
  #value
  label="Multi checkbox with actions label"
  size="12|12|12|12"
  [formControl]="form.getFormControl("actions")"
  [options]="options"
  [actions]="actions"
  ></eaf-input-multicheckbox>
```'
>
  <eaf-input-multicheckbox
    #value
    label="Multi checkbox with actions label"
    size="12|12|12|12"
    [formControl]="form.getFormControl('actions')"
    [options]="options"
    [actions]="actions"
  ></eaf-input-multicheckbox>
</eaf-play-section>
