<div class="h2">Elenco Commissari</div>
<eaf-table
*ngIf="data"
[data]="data"
[totalPages]="1"
[loading]="searchLoading"
[structure]="table"
[showPageSize]="true"
[pageSizeSelected]="5"
(onPageChanged)="changePage($event)"
(onSortChange)="changeSort($event)"
(onPageSizeChange)="this.changePageElementsShowed($event)"
tableTitle="Elenco Commissari"
description="La tabella riporta l'elenco dei commissari"
></eaf-table>
<eaf-pagination (onPageChanged)="changePage($event)" [totalPages]="3"></eaf-pagination>
